<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bwie.CustomBallView_RandomColor">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="自定义颜色的圆形小球随手指移动view"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BallActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>